---
interface Props {
    title: string
}

const { title } = Astro.props
---

<nav>
    <figure class="flex justify-center items-center">
        <svg
        class="fill-blue-500"
        width="120" 
        height="72"
        x="0px"
        y="0px"
        viewBox="0 0 777 298"
         style="enable-background:new 0 0 777 298;"
          xml:space="preserve">
            <g id="background">
            </g>
            <g id="text">
               <g>
                  <defs>
                     <path id="SVGID_1_" d="M52.397,166.875c0-0.021,0.001-0.043,0.001-0.065v-3.364V124.17c0-9.054,7.074-16.393,15.8-16.393     c5.057,0,9.556,2.47,12.448,6.306c0.002-0.001,0.004-0.002,0.006-0.003c0.001,0.002,0.003,0.004,0.004,0.006     c13.219-7.236,31.253-8.899,54.47-0.425c0.019,0.006,0.037,0.014,0.056,0.02c0.183,0.067,0.362,0.127,0.545,0.195l-0.004,0.011     c6.123,2.258,10.515,8.306,10.515,15.433c0,9.053-7.074,16.393-15.8,16.393c-1.881,0-3.677-0.359-5.35-0.984l-0.006,0.017     c-7.948-2.952-18.496-5.627-26.547-3.092c-12.276,3.909-14.532,20.743-14.537,25.157v56.802h-0.005     c0,0.035,0.005,0.068,0.005,0.102c0,9.054-7.074,16.393-15.8,16.393s-15.8-7.339-15.8-16.393c0-0.035,0.005-0.068,0.005-0.102     h-0.005v-56.721C52.398,166.886,52.397,166.881,52.397,166.875z M166.483,174.542c0.001,8.972,1.409,17.743,4.304,25.928     c2.17,6.135,5.183,11.936,9.031,17.16c2.883,3.919,6.236,7.509,10.01,10.663c5.66,4.734,12.269,8.467,19.556,10.963     c7.285,2.5,15.23,3.774,23.643,3.774c0.006,0,0.01,0,0.016,0c8.31-0.008,16.453-1.748,24.074-4.816     c7.402-2.993,14.327-7.262,20.364-12.746c0.037-0.031,0.072-0.065,0.109-0.097c0.14-0.127,0.285-0.247,0.424-0.375l-0.012-0.014     c3.225-3.001,5.266-7.345,5.266-12.193c0-9.053-7.074-16.393-15.8-16.393c-4.053,0-7.737,1.597-10.534,4.199l-0.012-0.014     c-3.083,2.878-7.041,5.382-11.259,7.076c-4.196,1.7-8.622,2.586-12.567,2.586c-0.018,0-0.036,0-0.054,0     c-6.364-0.003-11.553-1.124-15.801-2.901c-3.19-1.339-5.869-3.051-8.177-5.086c-3.451-3.056-6.116-6.867-8.015-11.51     c-1.89-4.634-2.967-10.111-2.967-16.203h0c0.006-19.83,14.769-35.695,31.8-35.699c14.003,0.013,24.377,7.469,29.407,19.307l0,0h0     h-35.676c-8.726,0-15.8,7.339-15.8,16.393c0,9.054,7.074,16.393,15.8,16.393h54.658v0c0,0,0,0,0.001,0     c8.726,0,15.8-7.339,15.8-16.393c0-38.203-26.616-68.485-64.131-68.485v0c-0.02,0-0.038,0-0.058,0c-0.007,0-0.014,0-0.021,0     C195.249,106.057,166.476,136.795,166.483,174.542L166.483,174.542L166.483,174.542L166.483,174.542L166.483,174.542z      M334.085,239.783c8.726,0,15.8-7.339,15.8-16.393c0-0.017-0.002-0.033-0.002-0.05c0-0.017,0.002-0.033,0.002-0.05v-58.53     c0.028-29.224,42.345-36.054,51.064-7.594c0.731,2.39,1.126,4.918,1.127,7.596h0c0,0,0,0.001,0,0.001v0l0,0v59.97h0.065     c0.66,8.424,7.445,15.051,15.735,15.051s15.075-6.627,15.735-15.051h0.005v-0.107c0.029-0.409,0.06-0.818,0.06-1.234     s-0.031-0.826-0.06-1.234V166.01c0.03-0.414,0.061-0.827,0.061-1.249c0-0.008-0.001-0.015-0.001-0.022     c0.002-45.154-47.886-72.932-86.047-51.015c0,0,0,0,0-0.001c-0.005,0.003-0.01,0.007-0.016,0.01     c-2.765-4.76-7.78-7.954-13.527-7.954c-8.726,0-15.8,7.339-15.8,16.393v101.117c0,0.017,0.002,0.033,0.002,0.05     c0,0.017-0.002,0.033-0.002,0.05C318.285,232.443,325.359,239.783,334.085,239.783z M468.68,136.841     c11.586-18.227,31.202-29.959,53.129-29.959c12.175,0,23.873,3.599,33.992,10.308v0V75.38c0-9.053,7.074-16.393,15.8-16.393     s15.8,7.339,15.8,16.393v148.656h-0.005c0,0.034,0.005,0.067,0.005,0.102c0,9.053-7.074,16.393-15.8,16.393     c-6.41,0-11.916-3.967-14.394-9.658c-10.483,7.359-22.727,11.268-35.376,11.268C470.378,242.14,440.374,181.385,468.68,136.841z      M489.441,174.51c0.004,19.308,14.541,34.834,32.389,34.843v0c25.937-0.006,41.442-31.365,26.77-54.467     C530.742,126.769,489.45,140.208,489.441,174.51z M640.944,113.724L640.944,113.724L640.944,113.724L640.944,113.724z      M627.402,239.783c8.726,0,15.8-7.339,15.8-16.393c0-0.017-0.002-0.033-0.002-0.05c0-0.017,0.002-0.033,0.002-0.05v-58.527     v-0.001c0.025-29.227,42.345-36.058,51.064-7.596c0.731,2.39,1.126,4.918,1.127,7.596h0c0,0,0,0.001,0,0.001c0,0,0,0.001,0,0.001     v58.627h0c0,0,0,0.001,0,0.001v1.34h0.065c0.66,8.424,7.445,15.051,15.735,15.051s15.075-6.627,15.735-15.051h0.005v-0.109     c0.029-0.409,0.06-0.817,0.06-1.233s-0.031-0.825-0.06-1.233V166.01c0.03-0.414,0.061-0.827,0.061-1.249     c0-0.008-0.001-0.015-0.001-0.022c0.002-45.154-47.886-72.932-86.047-51.015c0,0,0,0,0-0.001c-0.005,0.003-0.01,0.007-0.016,0.01     c-2.765-4.76-7.78-7.954-13.527-7.954c-8.726,0-15.8,7.339-15.8,16.393v101.117c0,0.017,0.002,0.033,0.002,0.05     c0,0.017-0.002,0.033-0.002,0.05C611.602,232.443,618.676,239.783,627.402,239.783z M774.5,2.452V295.5H2.5V2.452H774.5z      M773.5,3.452H3.5V294.5h770V3.452z"></path>
                  </defs>
                  <clipPath id="SVGID_2_">
                     <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                  </clipPath>
                  
                     <rect class="logo-fill" x="-21" y="-14" style="clip-path:url(#SVGID_2_);stroke:#a31818;stroke-width:2;stroke-miterlimit:10;" width="816" height="326"></rect>
               </g>
            </g>
         </svg>
    </figure>
</nav>

<style>
    h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    }
    .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    }
</style>