---
interface Props {
	name: string;
    icon:string;
}
const { name, icon } = Astro.props;
---
<li class="w-1/2 my-2 text-center flex items-center self-center text-sm">
    <img src={icon} alt={name.concat('-icon')} class="mr-2">
    <slot name="before">{name}</slot>
</li>