---
interface Props{
    content: string
}

const { content } = Astro.props
---
<!-- TODO, cambiar el style por tailwind -->
<p class="biography">
    {content}
</p>

<style>
    .biography {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
        color: whitesmoke;
	}
	
</style>