---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Hero/Header.astro';
import Biobtns from '../components/Hero/Biobtns/Biobtns.astro';
import Bio from '../components/Hero/Bio/Bio.astro';
import Card from '../components/Proyects/Card.astro';
import Techcard from '../components/Academic/AcademicCard.astro'
import Academiccard from '../components/Techs/TechCard.astro'
import Form from '../components/Footer/Form.astro';
---

<Layout title="rendn portfolio">
	<Header/>
	<main>
		<div class="resume">
			<Biobtns value="Descargar CV"/>
			<Bio content=
				"Bienvenido a mi portafolio! soy Miguel Rend칩n, mejor conocido como 'micky'. Soy un desarrollador web Front end con m치s de dos a침os de experiencia me especializo en dise침o y desarrollo web, Posicionamiento web(SEO) y marketing digital. Soy un chico Colombiano 游뻟릖 que viaja por el mundo, apasionado por la fotograf칤a, el dise침o y los deportes. En mis tiempos libres traduzco articulos de programaci칩n al espa침ol para FreeCodeCamp."
			/>
			<!-- TODO, cambiar por nodo dinamico -->
			<section role="list" class="link-card-grid" title="portfolio section">
				<!-- <Cards/> -->
				<Card
					title="Find-Fox"
					content="Aplicaci칩n que permite buscar imagenes de zorros de forma aleatoria, usa la API de 'randomfox' y buenas pr치cticas como lazy loader y dinamic import creado con vanilla JavaScript, HTML y Tailwind."
					demo="Demo"
					codigo="C칩digo"
				/>
				<Card
					title="Mi Restaurant"
					content="Template personalizable para cualquier restaurante. Creado con vanilla JavaScript, HTML, CSS, Tailwind. La pagina permite navegar facilmente al usuario, tiene un bot칩n de acci칩n para que el usuario reserve o pida con una llamada."
					demo="Demo"
					codigo="C칩digo"
				/>
				<Card
					title="Mi presupuesto"
					content="Una sencilla app para administrar el presupuesto personal, le permite agregar y ver ingresos y egresos con un panel de total actualizado. Trabaj칠 con clases en JS, HTML Y CSS."
					demo="Demo"
					codigo="C칩digo"
				/>
				<Card
					title="PaleBlueDot Podcast"
					content="Pale Blue Dot Podcast es una pagina web 'responsiva', creada con puro HTML Y CSS, 칠sta pagina le permite reproducir podcast desde spotify mediante el uso de iframes."
					demo="Demo"
					codigo="C칩digo"
				/>
			</section>
			<article class="technologies">
				<Techcard 
				title="Tecnolog칤as"
				title2="Actualmente aprendiendo"
				/>
			</article>
			<article class="academic">
				<Academiccard 
				title="Acad칠mico"
				/>
			</article>
		</div>
	</main>
	<footer>
		<Form 
			title='Ponte en contacto'
			name='Nombre'
			email='email'
			textarea='Deja tu mensaje'
			submit='Env칤ar'
		/>
	</footer>
</Layout>

<style>
	main, footer {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
